In [1]:
import pandas as pd
from pathlib import Path

In [2]:
#file to load
school_file = Path("schools_complete.csv")
student_file = Path("students_complete.csv")

In [3]:
#read files
School_df=pd.read_csv(school_file)
student_df=pd.read_csv(student_file)
School_df
student_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [4]:
# Merge files
School_data_complete = pd.merge(School_df,student_df, how = "left", on = ['school_name', 'school_name'] )
School_data_complete.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [5]:
#Calculate the school totals
School_count = len(School_data_complete.value_counts("school_name"))
School_count

15

In [6]:
#Calculate the student totals
Student_total = len(School_data_complete.value_counts("Student ID"))
Student_total

39170

In [7]:
#Calculate total budget between all schools
budget_total = School_data_complete["budget"].unique().sum()
budget_total

24649428

In [8]:
#Calculate average math scores
average_math = School_data_complete["math_score"].mean()
average_math

78.98537145774827

In [9]:
#Calculate average reading scores
average_reading = School_data_complete["reading_score"].mean()
average_reading

81.87784018381414

In [10]:
# % of students who passed math
passing_math_count = School_data_complete[(School_data_complete["math_score"]>=70)].count()["student_name"]
student_count = School_data_complete.count()["student_name"]
passing_math_pct = passing_math_count / float(student_count)*100
passing_math_pct

74.9808526933878

In [11]:
#% of students who passed reading
passing_reading_count = School_data_complete[(School_data_complete["reading_score"]>=70)].count()["student_name"]
student_count = School_data_complete.count()["student_name"]
passing_reading_pct = passing_reading_count / float(student_count)*100
passing_reading_pct

85.80546336482001

In [12]:
#% of students who passed both Math and reading
pass_math_reading_count = School_data_complete[(School_data_complete["math_score"]>=70) & (School_data_complete["reading_score"]>=70)].count()["student_name"]
student_count = School_data_complete.count()["student_name"]
pass_math_reading_pct = pass_math_reading_count / float(student_count)*100
pass_math_reading_pct

65.17232575950983

In [13]:
# District Summary DataFrame creation
District_Summary = pd.DataFrame({"Total Schools in District": [School_count], "Total Students": [Student_total], "Total Budget": [budget_total], "Average Math Scores":[average_math],
                                "Average Reading Score": [average_reading], "% Passing Math":[passing_math_pct], "% Passing Reading":[passing_reading_pct], "% Passing Reading and Math":[pass_math_reading_pct] })
# DataFrame Formatting
District_Summary["Total Students"]=District_Summary["Total Students"].map("{:,}".format)
District_Summary["Total Budget"] = District_Summary["Total Budget"].map("${:,.2f}".format)
District_Summary["Average Math Scores"] = District_Summary["Average Math Scores"].map("{:.2f}".format)
District_Summary["Average Reading Score"] = District_Summary["Average Reading Score"].map("{:.2f}".format)
District_Summary["% Passing Math"] = District_Summary["% Passing Math"].map("{:.2f}%".format)
District_Summary["% Passing Reading"] = District_Summary["% Passing Reading"].map("{:.2f}%".format)
District_Summary["% Passing Reading and Math"] = District_Summary["% Passing Reading and Math"].map("{:.2f}%".format)
District_Summary

,Total Schools in District,Total Students,Total Budget,Average Math Scores,Average Reading Score,% Passing Math,% Passing Reading,% Passing Reading and Math
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

In [14]:
School_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [15]:
#created variable for School Name
School_names = School_df["school_name"]
School_names

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object

In [16]:
# Determine school types for each school
School_types =School_df.set_index(["School ID"])["type"]
School_types

School ID
0     District
1     District
2      Charter
3     District
4      Charter
5      Charter
6      Charter
7     District
8      Charter
9      Charter
10     Charter
11    District
12    District
13    District
14     Charter
Name: type, dtype: object

In [17]:
#Determine amount of students per school
school_size =School_df.set_index(["School ID"])["size"]
school_size

School ID
0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [18]:
#Determine budget size per school
budget_size =School_df.set_index(["School ID"])["budget"]
budget_size

School ID
0     1910635
1     1884411
2     1056600
3     3022020
4      917500
5     1319574
6     1081356
7     3124928
8      248087
9      585858
10    1049400
11    2547363
12    3094650
13    1763916
14    1043130
Name: budget, dtype: int64

In [19]:
# Capita per student
per_capita = School_df.set_index(["School ID"])["budget"] / School_df.set_index(["School ID"])["size"]
per_capita

School ID
0     655.0
1     639.0
2     600.0
3     652.0
4     625.0
5     578.0
6     582.0
7     628.0
8     581.0
9     609.0
10    583.0
11    637.0
12    650.0
13    644.0
14    638.0
dtype: float64

In [20]:
# average math score per student
per_school_math = School_data_complete.groupby("School ID")["math_score"].mean()
per_school_math

School ID
0     76.629414
1     76.711767
2     83.359455
3     77.289752
4     83.351499
5     83.274201
6     83.061895
7     77.048432
8     83.803279
9     83.839917
10    83.682222
11    76.842711
12    77.072464
13    77.102592
14    83.418349
Name: math_score, dtype: float64

In [21]:
# per average math score per school
per_school_reading = School_data_complete.groupby("School ID")["reading_score"].mean()
per_school_reading

School ID
0     81.182722
1     81.158020
2     83.725724
3     80.934412
4     83.816757
5     83.989488
6     83.975780
7     81.033963
8     83.814988
9     84.044699
10    83.955000
11    80.744686
12    80.966394
13    80.746258
14    83.848930
Name: reading_score, dtype: float64

In [22]:
students_passing_math = School_data_complete[
    (School_data_complete["math_score"] >= 70)]
students_passing_math = students_passing_math.groupby(["School ID"]).size()
students_passing_math

School ID
0     1916
1     1946
2     1653
3     3094
4     1371
5     2143
6     1749
7     3318
8      395
9      910
10    1680
11    2654
12    3145
13    1871
14    1525
dtype: int64

In [23]:
students_passing_reading = School_data_complete[
    (School_data_complete["reading_score"] >= 70)]
students_passing_reading = students_passing_reading.groupby(["School ID"]).size()
students_passing_reading

School ID
0     2372
1     2381
2     1688
3     3748
4     1426
5     2204
6     1803
7     4077
8      411
9      923
10    1739
11    3208
12    3867
13    2172
14    1591
dtype: int64

In [24]:
students_passing_reading_math = School_data_complete[
    (School_data_complete["reading_score"] >= 70) & (School_data_complete["math_score"] >= 70)]
students_passing_reading_math = students_passing_reading_math.groupby(["School ID"]).size()
students_passing_reading_math

School ID
0     1561
1     1569
2     1583
3     2481
4     1330
5     2068
6     1697
7     2719
8      381
9      871
10    1626
11    2119
12    2549
13    1487
14    1487
dtype: int64

In [25]:
# Calculate percentages of passing per school
per_school_passing_math = students_passing_math / school_size * 100
per_school_passing_reading = students_passing_reading / school_size * 100
per_school_passing_math_reading = students_passing_reading_math / school_size * 100
per_school_passing_math

School ID
0     65.683922
1     65.988471
2     93.867121
3     66.752967
4     93.392371
5     93.867718
6     94.133477
7     66.680064
8     92.505855
9     94.594595
10    93.333333
11    66.366592
12    66.057551
13    68.309602
14    93.272171
dtype: float64

In [26]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Names": School_names, "School Types": School_types.values, "School Size": school_size.values, 
                                  "School Budget": budget_size.values, "Per Student Budget": per_capita.values, "Student Math Average": per_school_math.values, 
                                  "Student Reading Average": per_school_reading.values, "% Passing Math": per_school_passing_math.values, 
                                   "% Passing Reading": per_school_passing_reading.values, "% Passing Reading and Math":per_school_passing_math_reading.values})

per_school_summary =per_school_summary.set_index("School Names")
per_school_summary

,School Types,School Size,School Budget,Per Student Budget,Student Math Average,Student Reading Average,% Passing Math,% Passing Reading,% Passing Reading and Math
School Names,,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012

In [27]:
# Formatting
#per_school_summary["School Budget"] = per_school_summary["School Budget"].map("${:,.2f}".format)
#per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
#per_school_summary

In [28]:
top_schools = per_school_summary.sort_values(by = ["% Passing Reading and Math"], ascending = False)
top_schools.head(5)

,School Types,School Size,School Budget,Per Student Budget,Student Math Average,Student Reading Average,% Passing Math,% Passing Reading,% Passing Reading and Math
School Names,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [29]:
bottom_schools = per_school_summary.sort_values(by = ["% Passing Reading and Math"])
bottom_schools.head(5)

,School Types,School Size,School Budget,Per Student Budget,Student Math Average,Student Reading Average,% Passing Math,% Passing Reading,% Passing Reading and Math
School Names,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [30]:
# Use the code provided to separate the data by grade
ninth_graders = School_data_complete[(School_data_complete["grade"] == "9th")]
tenth_graders = School_data_complete[(School_data_complete["grade"] == "10th")]
eleventh_graders = School_data_complete[(School_data_complete["grade"] == "11th")]
twelfth_graders = School_data_complete[(School_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores =tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores =eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores =twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th":ninth_grade_math_scores, "10th":tenth_grader_math_scores, "11th":eleventh_grader_math_scores, "12th": twelfth_grader_math_scores  })

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame

math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [31]:
# Use the code provided to separate the data by grade
ninth_graders = School_data_complete[(School_data_complete["grade"] == "9th")]
tenth_graders = School_data_complete[(School_data_complete["grade"] == "10th")]
eleventh_graders = School_data_complete[(School_data_complete["grade"] == "11th")]
twelfth_graders = School_data_complete[(School_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores =tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores =eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores =twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th":ninth_grade_reading_scores, "10th":tenth_grader_reading_scores, "11th":eleventh_grader_reading_scores,
                                     "12th": twelfth_grader_reading_scores  })

# Minor data wrangling
reading_scores_by_grade.index.name = None

# Display the DataFrame

reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [32]:
# Establish the bins
spending_bins = [0,585,630,645,680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [33]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary.copy()

In [34]:
school_spending_df

,School Types,School Size,School Budget,Per Student Budget,Student Math Average,Student Reading Average,% Passing Math,% Passing Reading,% Passing Reading and Math
School Names,,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012

In [35]:
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], spending_bins, labels = labels)
school_spending_df

,School Types,School Size,School Budget,Per Student Budget,Student Math Average,Student Reading Average,% Passing Math,% Passing Reading,% Passing Reading and Math,Spending Ranges (Per Student)
School Names,,,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645

In [36]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Student Math Average"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Student Reading Average"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading and Math"].mean()

C:\Users\Owner\AppData\Local\Temp\ipykernel_18004\3576492520.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Student Math Average"].mean()
C:\Users\Owner\AppData\Local\Temp\ipykernel_18004\3576492520.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Student Reading Average"].mean()
C:\Users\Owner\AppData\Local\Temp\ipykernel_18004\3576492520.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
C:\Users\Owner\AppData\Local\Temp\ipykernel_18004\3576492520.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
C:\Users\Owner\AppData\Local\Temp\ipykernel_18004\3576492520.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading and Math"].mean()

In [37]:
# Assemble into DataFrame
spending_summary =pd.DataFrame({"Student Math Average":spending_math_scores, "Student Reading Average":spending_reading_scores.values, 
                                "% Passing Math":spending_passing_math.values, "% Passing Reading": spending_passing_reading.values, "% Overall Passing":overall_passing_spending.values})

# Display results
spending_summary

,Student Math Average,Student Reading Average,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

In [38]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [39]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["Student School Size"] = pd.cut(per_school_summary["School Size"], size_bins, labels = labels)
per_school_summary

,School Types,School Size,School Budget,Per Student Budget,Student Math Average,Student Reading Average,% Passing Math,% Passing Reading,% Passing Reading and Math,Student School Size
School Names,,,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)

In [40]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["Student School Size"])["Student Math Average"].mean()
size_reading_scores = per_school_summary.groupby(["Student School Size"])["Student Reading Average"].mean()
size_passing_math = per_school_summary.groupby(["Student School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["Student School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["Student School Size"])["% Passing Reading and Math"].mean()

C:\Users\Owner\AppData\Local\Temp\ipykernel_18004\251275578.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = per_school_summary.groupby(["Student School Size"])["Student Math Average"].mean()
C:\Users\Owner\AppData\Local\Temp\ipykernel_18004\251275578.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = per_school_summary.groupby(["Student School Size"])["Student Reading Average"].mean()
C:\Users\Owner\AppData\Local\Temp\ipykernel_18004\251275578.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = per_school_summary.groupby(["Student School Size"])["% Passing Math"].mean()
C:\Users\Owner\AppData\Local\Temp\ipykernel_18004\251275578.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = per_school_summary.groupby(["Student School Size"])["% Passing Reading"].mean()
C:\Users\Owner\AppData\Local\Temp\ipykernel_18004\251275578.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_overall_passing = per_school_summary.groupby(["Student School Size"])["% Passing Reading and Math"].mean()

In [43]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({"Average Math Score":size_math_scores, "Average Reading Score":size_reading_scores.values, "% Passing Reading": size_passing_math.values,
                            "% Passing Reading": size_passing_reading.values, "% Passing Reading and Math": size_overall_passing.values})

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Reading,% Passing Reading and Math
Student School Size,,,,
Small (<1000),83.821598,83.929843,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,82.766634,58.286003

In [46]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Types"])["Student Math Average"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Types"])["Student Reading Average"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Types"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Types"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Types"])["% Passing Reading and Math"].mean()

In [47]:
type_summary = pd.DataFrame({"Average Math Score":average_math_score_by_type, "Average Reading Score":average_reading_score_by_type.values, "% Passing Reading": average_percent_passing_math_by_type.values,
                            "% Passing Reading": average_percent_passing_reading_by_type.values, "% Passing Reading and Math": average_percent_overall_passing_by_type.values})
type_summary

,Average Math Score,Average Reading Score,% Passing Reading,% Passing Reading and Math
School Types,,,,
Charter,83.473852,83.896421,96.586489,90.432244
District,76.956733,80.966636,80.799062,53.672208

In [48]:
# showing formatting on per_school_summary since it interfered with creating tables.
# Formatting
per_school_summary["School Budget"] = per_school_summary["School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Types,School Size,School Budget,Per Student Budget,Student Math Average,Student Reading Average,% Passing Math,% Passing Reading,% Passing Reading and Math,Student School Size
School Names,,,,,,,,,,
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)